.input_div{
    width: 100%;
}
.input_div > label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2A2A2A;
}
.input_div > textarea{
    border-radius: var(--br);
    border: 1px solid var(--border);
    padding: 10px;
    font-size: 14px;
    color: #989898;
    font-weight: 400;
    width: 100%;
    outline: none;
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 120px;

}