.input_div{}
.input_div > label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2A2A2A;
}
.input_div > input{
    border-radius: var(--br);
    border: 1px solid var(--border);
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
    color: #989898;
    font-weight: 400;
    width: 100%;
    outline: none;
}