.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.card>img {
    width: 50px;
    height: 50px;
    border-radius: var(--br);
}
.card>.box {
    width: 50px;
    height: 50px;
    border-radius: var(--br);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
}

.card_body {
    width: 52%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding-left: 5px;
}

.card_body p {
    font-size: 11px;
    font-weight: 500;
    color: #a3a3a3;
}

.card_body h5 {
    font-size: 12px;
    font-weight: 500;
}

.card_body h6 {
    font-size: 10px;
    font-weight: 400;
}

.card_btn {
    font-size: 13px;
    padding: 4px 20px;
}