.button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    font-weight: 500;
    background: black;
    color: white;
    border-radius: var(--br);
    border: none;
    border: 1px solid transparent;
}

.button:disabled{
    background: #e9e0e0;
    border: 1px solid var(--border);
}