.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  grid-template-rows: 350px;
  margin-bottom: 20px;
}

.grid>div:nth-child(1) {
  background-color: white;
  border-radius: var(--br);
  border: 1px solid #d9d9d9;
  grid-column: 1 / span 4;
  padding: 20px;
}

.grid>div:nth-child(2) {
  grid-column: span 2;
}


@media screen and (max-width:900px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .grid>div {
    width: 100%;
  }

  .grid>div:nth-child(1) {
    height: 250px;
    padding: 10px 10px 10px 0;
  }
}

