.search_bar {
    position: relative;
}

.search_bar>img {
    position: absolute;
    width: 20px;
    top: 8px;
    left: 13px;
    cursor: pointer;
}

.search_bar>input {
    width: 100%;
    height: 40px;
    border-radius: var(--br);
    border: none;
    padding: 0 50px;
    outline: none;
    color: #b6b6b6;
}

.search_bar input::placeholder {
    color: #b6b6b6;
}

@media screen and (max-width:650px) {
    .search_bar {
      width: 100%;
    }
  }