.navbar {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: #f9f9f9;
  z-index: 9;
}

.search_bar {
  width: 50%;
  position: relative;
}

.search_bar>img {
  position: absolute;
  width: 20px;
  top: 8px;
  left: 13px;
  cursor: pointer;
}

.search_bar>input {
  width: 100%;
  height: 40px;
  border-radius: var(--br);
  border: none;
  padding: 0 50px;
  outline: none;
  color: #b6b6b6;
}

.search_bar input::placeholder {
  color: #b6b6b6;
}

.nav_body {
  display: flex;
  align-items: center;
}

.nav_btn {
  margin-right: 30px;
  padding: 10px;
  border-radius: 50%;
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.nav_btn>img {
  width: 18px;
}

.nav_profile{
  text-decoration: none;
}

.nav_profile>div:nth-child(1) {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav_profile>div:nth-child(1)>img:nth-child(1) {
  width: 29px;
  margin-right: 10px;
  border-radius: var(--br);
}

.nav_profile>div:nth-child(1)>p {
  font-weight: 400;
  margin-right: 7px;
  text-decoration: none;
}

.sidebar_open_btn {
  border: none;
  margin-left: 10px;
  display: none;
}

.sidebar_open_btn div {
  width: 20px;
  height: 3px;
  margin-bottom: 4px;
  background: #bdbdbd;
  display: block;
  border-radius: var(--br);
}

.sidebar_open_btn div:last-child {
  margin-bottom: 0;
}

@media screen and (max-width:1000px) {
  .navbar {
    justify-content: end;
  }

  .search_bar {
    display: none;
  }

  .nav_btn {
    display: none;
  }

  .sidebar_open_btn {
    display: block;
  }
}