.sidebar {
    padding: 20px;
    width: 30%;
    height: 100%;
}

.sb {
    border: 1px solid var(--border);
    border-radius: var(--br);
}

.active_box {
    padding: 20px 0;
    border-bottom: 2px solid var(--border);
    margin-bottom: 20px;
}

.sidebar_heading {
    font-size: 14px;
    font-weight: 600;
}

.sidebar_heading>span {
    padding: 2px 10px;
    font-size: 11px;
    color: #8a8787;
    font-weight: 500;
    border: 1px solid var(--border);
    margin-left: 10px;
    border-radius: 10px;
}

.ab_container {
    display: flex;
    padding-top: 15px;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.ab_container::-webkit-scrollbar,
.sb_container::-webkit-scrollbar {
    display: none;
}

.sb_container {
    overflow: scroll;
    height: 285px;
    margin-top: 10px;
    scrollbar-width: none;
}

.sidebar_body {}

@media screen and (max-width:900px){
    .sidebar{
        width: 100%;
        height: 100%;
    }

    .sb_container{
        overflow: scroll;
         height: max-content;
    }
}