.container{
    position: relative;
}
.container > img{
    position: absolute;
    right: 6px;
    top: 12px;
    width: 17px;
}
.container > label{
    height: 40px;
    display: flex;
    align-items: center;
    width: 100px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
}