.container {
    display: flex;
    justify-content: space-between;
    /* height: 83vh; */
    height: 440px;
}

@media screen and (max-width:900px) {
    .container {
        position: relative;
        overflow: hidden;
    }
    .container {
        height: 79vh;
    }
    
}