.container {
    display: flex;
    justify-content: space-between;
    height: 83vh;
}

@media screen and (max-width:900px) {
    .container {
        position: relative;
        overflow: hidden;
    }
}