.table_container {
  padding: 20px;
  overflow: scroll;
}

.table {
  width: 100%;
  table-layout: fixed;
  min-width: 1004px;
  border-spacing: 0 10px;
}



.table>thead>tr>td {
  font-weight: 500;
  color: #7d7d7d;
  text-align: center;
  font-size: 15px;
}

.table>thead>tr>td:first-child {
  text-align: left;
  padding-left: 20px;
}

.table>tbody {}

.table>tbody>tr {}

.table>tbody>tr>td {
  background: white;
  border: 1px solid #d9d9d9;
  height: 60px;
  border-right: 0;
  border-left: 0;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

.table>tbody>tr>td:first-child {
  padding-left: 20px;
  text-align: left;
  border-radius: var(--br) 0 0 var(--br);
  border-left: 1px solid #d9d9d9;
}

.table>tbody>tr>td:last-child {

  border-right: 1px solid #d9d9d9;
  border-radius: 0 var(--br) var(--br) 0;
}

.link_btn {
  background: white;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  padding: 7px 10px;
  border-radius: var(--br);
  text-decoration: none;
  color: black;
  font-weight: 500;
}


@media screen and (max-width:900px) {
  .table_container {
    
  }

  .table {
    
  }
}