.form{
    padding: 20px;
    background: white;
    border-radius: var(--br);
    border: 1px solid var(--border);
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}
.form  > div{
    width: 32%;
}
.txtarea{
    width: 100% !important;
}
.txtarea > label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2A2A2A;
}
.txtarea > textarea{
    border-radius: var(--br);
    border: 1px solid var(--border);
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
    color: #989898;
    font-weight: 400;
    width: 100%;
    outline: none;
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
}

.btn_con{    width: 100% !important;
    display: flex;
    justify-content: end;
    column-gap: 10px;
    border-top: 1px solid var(--border);
    padding-top: 20px;}
.btn_con > button{    height: 40px;
    border-radius: var(--br);
    width: 116px;
    font-weight: 600;
    border: none;}