.event {
    position: absolute;
    bottom: -96px;
    padding-left: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;
    background: #DEEFFF;
    height: 126px;
    left: -2px;
    width: 103%;
}

.event>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    position: absolute;
    bottom: 4px;
}

.event>span {
    background: black;
    padding: 3px 10px;
    border-radius: 12px;
    font-size: 12px;
    word-wrap: break-word;
    position: absolute;
    bottom: 14px;
    left: 50px;
}



@media screen and (max-width:900px) {
    .event {
        position: unset;
        background: none;
        justify-content: center;
        height: unset;
    }

    .event>span {
        display: none;
    }

    .event>img {
        position: unset;
    }
}

@media screen and (max-width:500px){
    .event>img {
        width: 25px;
        height: 25px;
    }
}